* {
    margin: 0;
    padding: 0;
}

.header {
    height: 76px;
}

.navLink {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}

.heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
}

.item {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.cataloglink {
    font-size: 16px;
    line-height: 24px;
}

.itemh2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.itemh3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}

.textVilora {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.priceline {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}

.footerText {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}

.footerLink {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footerLink:hover{
    text-decoration: underline;
}

.formtext {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #000000;
}

.forminput {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}

.formbutton {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}